In [60]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn import tree, preprocessing
import seaborn as sns
import numpy as np

DF = pd.read_csv("preprocessed_data.csv")

In [61]:
DF

,age,gender,height,weight,ap_hi,ap_lo,smoke,alco,active,cardio,cholesterol_1,cholesterol_2,cholesterol_3,gluc_1,gluc_2,gluc_3,bmi,bp
0,51,1,168,62.0,110,80,0,0,1,0,1,0,0,1,0,0,21.967120,0.0
1,56,0,156,85.0,140,90,0,0,1,1,0,0,1,1,0,0,34.927679,2.0
2,52,0,165,64.0,130,70,0,0,0,1,0,0,1,1,0,0,23.507805,2.0
3,49,1,169,82.0,150,100,0,0,1,1,1,0,0,1,0,0,28.710479,2.0
4,49,0,156,56.0,100,60,0,0,0,0,1,0,0,1,0,0,23.011177,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69002,54,1,168,76.0,120,80,1,0,1,0,1,0,0,1,0,0,26.927438,1.0
69003,63,0,158,126.0,140,90,0,0,1,1,0,1,0,0,1,0,50.472681,2.0
69004,53,1,183,105.0,180,90,0,1,0,1,0,0,1,1,0,0,31.353579,2.0
69005,63,0,163,72.0,135,80,0,0,0,1,1,0,0,0,1,0,27.099251,2.0
69006,57,0,170,72.0,120,80,0,0,1,0,0,1,0,1,0,0,24.913495,1.0

In [62]:
from sklearn.model_selection import train_test_split
np.random.seed(1234)

train,test = train_test_split(DF,test_size=0.2)

In [63]:
from sklearn import preprocessing
def prep_df(data_df):
    
    df = data_df.copy()
    X = df[["ap_hi", "ap_lo","smoke"]]
    y = df[["cardio"]]
    
    return(X, y)

In [64]:
X_train, y_train = prep_df(train)

In [65]:
X_test, y_test = prep_df(test)

In [66]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [67]:
def check_complexity_score(c):

    LR = LogisticRegression(max_iter=100, C = c)
    return cross_val_score(LR,X_train,y_train.values.ravel(),cv=5).mean()

In [68]:
x1 = np.logspace(-2, 5, 50, endpoint=True)

In [69]:
Complex_score = []
for c in x1:
    x=check_complexity_score(c)
    Complex_score.append((x,c))

In [70]:
print(sorted(Complex_score, key=lambda Complex_score: Complex_score[0])[-1])

(0.7115840956435106, 100000.0)

In [71]:
C = sorted(Complex_score, key=lambda Complex_score: Complex_score[0])[-1][1]

In [72]:
LR = LogisticRegression(max_iter=1000000, C=C)
# Set LR as the Logistic Regression model with the best C value we've chosen
LR.fit(X_train,y_train.values.ravel())        # Let X_train and y_train fit the model T
LR.score(X_test, y_test)

0.7117084480510071